In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

train=pd.read_csv(r'./train.csv')
test=pd.read_csv(r'./test.csv')
PassengerId=test['PassengerId']
all_data = pd.concat([train, test], ignore_index = True)

all_data['Title'] = all_data['Name'].apply(lambda x:x.split(',')[1].split('.')[0].strip())
Title_Dict = {}
Title_Dict.update(dict.fromkeys(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer'))
Title_Dict.update(dict.fromkeys(['Don', 'Sir', 'the Countess', 'Dona', 'Lady'], 'Royalty'))
Title_Dict.update(dict.fromkeys(['Mme', 'Ms', 'Mrs'], 'Mrs'))
Title_Dict.update(dict.fromkeys(['Mlle', 'Miss'], 'Miss'))
Title_Dict.update(dict.fromkeys(['Mr'], 'Mr'))
Title_Dict.update(dict.fromkeys(['Master','Jonkheer'], 'Master'))

all_data['Title'] = all_data['Title'].map(Title_Dict)

all_data['FamilySize']=all_data['SibSp']+all_data['Parch']+1

def Fam_label(s):
    if (s >= 2) & (s <= 4):
        return 2
    elif ((s > 4) & (s <= 7)) | (s == 1):
        return 1
    elif (s > 7):
        return 0
all_data['FamilyLabel']=all_data['FamilySize'].apply(Fam_label)

all_data['Cabin'] = all_data['Cabin'].fillna('Unknown')
all_data['Deck']=all_data['Cabin'].str.get(0)

Ticket_Count = dict(all_data['Ticket'].value_counts())
all_data['TicketGroup'] = all_data['Ticket'].apply(lambda x:Ticket_Count[x])

def Ticket_Label(s):
    if (s >= 2) & (s <= 4):
        return 2
    elif ((s > 4) & (s <= 8)) | (s == 1):
        return 1
    elif (s > 8):
        return 0

all_data['TicketGroup'] = all_data['TicketGroup'].apply(Ticket_Label)

# 3.数据清洗

In [37]:
from sklearn.ensemble import RandomForestRegressor
age_df = all_data[['Age', 'Pclass','Sex','Title']]
age_df=pd.get_dummies(age_df)
known_age = age_df[age_df.Age.notnull()].values
unknown_age = age_df[age_df.Age.isnull()].values
y = known_age[:, 0]
X = known_age[:, 1:]
rfr = RandomForestRegressor(random_state=0, n_estimators=100, n_jobs=-1)
rfr.fit(X, y)
# predictedAges = rfr.predict(unknown_age[:, 1::])
# all_data.loc[ (all_data.Age.isnull()), 'Age' ] = predictedAges

RandomForestRegressor(n_jobs=-1, random_state=0)

In [38]:
all_data[all_data['Embarked'].isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Title, FamilySize, FamilyLabel, Deck, TicketGroup]
Index: []

In [39]:
all_data.loc[all_data.Fare.isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,FamilyLabel,Deck,TicketGroup
1043,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,Unknown,S,Mr,1,1,U,1

In [40]:
fare=all_data[(all_data['Embarked'] == "S") & (all_data['Pclass'] == 3)].Fare.median()
all_data['Fare']=all_data['Fare'].fillna(fare)

In [44]:
all_data['Surname']=all_data['Name'].apply(lambda x:x.split(',')[0].strip())

In [52]:
all_data['Surname']

0              Braund
1             Cumings
2           Heikkinen
3            Futrelle
4               Allen
            ...
1304          Spector
1305    Oliva y Ocana
1306          Saether
1307             Ware
1308            Peter
Name: Surname, Length: 1309, dtype: object

In [53]:
Surname_Count = dict(all_data['Surname'].value_counts())
Surname_Count

{'Andersson': 11,
 'Sage': 11,
 'Goodwin': 8,
 'Asplund': 8,
 'Davies': 7,
 'Carter': 6,
 'Rice': 6,
 'Fortune': 6,
 'Panula': 6,
 'Johnson': 6,
 'Brown': 6,
 'Smith': 6,
 'Skoog': 6,
 'Ford': 6,
 'Ryerson': 5,
 'Lefebre': 5,
 'Thomas': 5,
 'Williams': 5,
 'Palsson': 5,
 'Kelly': 5,
 'Harper': 4,
 'Johansson': 4,
 'Boulos': 4,
 'Ware': 4,
 'Baclini': 4,
 'Dean': 4,
 'Hansen': 4,
 'Vander Planke': 4,
 'Hocking': 4,
 'Johnston': 4,
 'Laroche': 4,
 'Gustafsson': 4,
 'Becker': 4,
 'Harris': 4,
 'West': 4,
 'Olsen': 4,
 'Goldsmith': 4,
 'Hart': 4,
 'Herman': 4,
 'Cacic': 4,
 'Elias': 4,
 'Allison': 4,
 'Mallet': 3,
 'Quick': 3,
 'Keane': 3,
 'Richards': 3,
 'Chapman': 3,
 'Newell': 3,
 'Coutts': 3,
 'Drew': 3,
 'Navratil': 3,
 'Cor': 3,
 'Peacock': 3,
 'Daly': 3,
 'Hoyt': 3,
 'Carlsson': 3,
 'Moubarek': 3,
 'Dodge': 3,
 'Abbott': 3,
 'Warren': 3,
 'Van Impe': 3,
 'Thayer': 3,
 'Kink-Heilmann': 3,
 'Sandstrom': 3,
 'Taussig': 3,
 'Crosby': 3,
 'Caldwell': 3,
 'Hickman': 3,
 'Danbom': 3,
 'Jensen': 3,
 'White': 3,
 'Moran': 3,
 'Phillips': 3,
 'Graham': 3,
 'van Billiard': 3,
 "O'Brien": 3,
 'McCoy': 3,
 'Murphy': 3,
 'Douglas': 3,
 'Peter': 3,
 'Widener': 3,
 'Nakid': 3,
 'Klasen': 3,
 'Oreskovic': 3,
 'Touma': 3,
 'Svensson': 3,
 'Flynn': 3,
 'Nilsson': 3,
 'Howard': 3,
 'Wick': 3,
 'Karlsson': 3,
 'Minahan': 3,
 'Giles': 3,
 'Meyer': 3,
 'Spedden': 3,
 'Jussila': 3,
 'Rosblom': 3,
 'Compton': 3,
 'Samaan': 3,
 'Olsson': 3,
 'Wells': 3,
 'Hays': 3,
 'Collyer': 3,
 'Bourke': 3,
 'Frauenthal': 3,
 'Lobb': 2,
 'Ostby': 2,
 'Gale': 2,
 'Dennis': 2,
 'Lennon': 2,
 'Clark': 2,
 'Moore': 2,
 'Fox': 2,
 'Bowen': 2,
 'Kimball': 2,
 'Gibson': 2,
 'Allen': 2,
 'Doling': 2,
 'McCarthy': 2,
 'Ilmakangas': 2,
 'Harder': 2,
 'Caram': 2,
 'Jefferys': 2,
 'Braund': 2,
 'Lines': 2,
 'Attalah': 2,
 'Fleming': 2,
 'Mellinger': 2,
 'Dyker': 2,
 'Hirvonen': 2,
 'Wright': 2,
 'Snyder': 2,
 'de Messemaeker': 2,
 'Straus': 2,
 'Morley': 2,
 'Backstrom': 2,
 'Kantor': 2,
 'Wiklund': 2,
 'Holverson': 2,
 'Stanley': 2,
 'Bryhl': 2,
 'McNamee': 2,
 'Betros': 2,
 'Andrew': 2,
 'Dick': 2,
 'Taylor': 2,
 'Weisz': 2,
 'Frolicher-Stehli': 2,
 'Zabour': 2,
 'Calic': 2,
 'Webber': 2,
 'Cavendish': 2,
 'Larsson': 2,
 'Pokrnic': 2,
 'Hold': 2,
 'Rothschild': 2,
 'Burns': 2,
 'Bradley': 2,
 'Angle': 2,
 'Rogers': 2,
 'Lindell': 2,
 'Stengel': 2,
 'Davidson': 2,
 'Silvey': 2,
 'Marvin': 2,
 'Chaffee': 2,
 'Cook': 2,
 'Yasbeck': 2,
 'Carrau': 2,
 'Bonnell': 2,
 'Kenyon': 2,
 'Chambers': 2,
 'Mahon': 2,
 'Risien': 2,
 'Karun': 2,
 'Duran y More': 2,
 'Lahtinen': 2,
 'Cribb': 2,
 'Carr': 2,
 'Chronopoulos': 2,
 'Louch': 2,
 'Canavan': 2,
 'Thorneycroft': 2,
 'Franklin': 2,
 'Saad': 2,
 'Renouf': 2,
 'Foley': 2,
 'Connolly': 2,
 'Buckley': 2,
 'Clarke': 2,
 'Bishop': 2,
 'Greenfield': 2,
 'Faunthorpe': 2,
 'Duff Gordon': 2,
 'McGowan': 2,
 'Jonsson': 2,
 'Hagland': 2,
 'Jacobsohn': 2,
 'Spencer': 2,
 'Khalil': 2,
 'Barbara': 2,
 'Arnold-Franchi': 2,
 'Beane': 2,
 'del Carlo': 2,
 'Astor': 2,
 'Lam': 2,
 'Futrelle': 2,
 'Kiernan': 2,
 'Cumings': 2,
 'Watt': 2,
 'Strom': 2,
 'Abelson': 2,
 "O'Connor": 2,
 'Hamalainen': 2,
 'Davison': 2,
 'Christy': 2,
 'Coleff': 2,
 'Andrews': 2,
 'Kink': 2,
 'Baxter': 2,
 'Penasco y Castellana': 2,
 'Beckwith': 2,
 'Aks': 2,
 'Turpin': 2,
 'Zakarian': 2,
 'Moor': 2,
 'Petroff': 2,
 'Hippach': 2,
 'Ali': 2,
 'Nicola-Yarred': 2,
 'Robins': 2,
 'Ryan': 2,
 'Goldenberg': 2,
 'Abelseth': 2,
 'Hakkarainen': 2,
 'Pears': 2,
 'Nasser': 2,
 'Cardeza': 2,
 'Andersen-Jensen': 1,
 'Jenkin': 1,
 'Hipkins': 1,
 'Swane': 1,
 'Daniel': 1,
 'Padro y Manent': 1,
 'Garside': 1,
 'Foreman': 1,
 'Brocklebank': 1,
 'Mangan': 1,
 'Stanton': 1,
 'Bird': 1,
 'Rasmussen': 1,
 'Stewart': 1,
 'Madigan': 1,
 'Finoli': 1,
 "O'Driscoll": 1,
 'Ahlin': 1,
 'Guest': 1,
 'Conlon': 1,
 'Coxon': 1,
 'Hodges': 1,
 'Seward': 1,
 'Hogeboom': 1,
 'Harbeck': 1,
 'Peuchen': 1,
 'Stone': 1,
 'Troupiansky': 1,
 'Carver': 1,
 'Sincock': 1,
 'Brobeck': 1,
 'Corbett': 1,
 'Cohen': 1,
 'Jermyn': 1,
 'Saalfeld': 1,
 'Salander': 1,
 'Sloper': 1,
 'Ayoub': 1,
 'Hellstrom': 1,
 'Pulbaum': 1,
 'Berriman': 1,
 'Tenglin': 1,
 'Strilic': 1,
 'Moraweck': 1,
 'Frolicher': 1,
 'Yousseff': 1,
 'Van der hoef': 1,
 'Sagesser': 1,
 'Mineff': 1,
 'Gallagher': 1,
 'Horgan': 1,
 'Flegenheim': 1,
 'Cornell': 1,
 'Dika': 1,
 'Dooley': 1,
 'Jalsevac': 1,
 'Oxenham': 1,
 'Sirayanian': 1,
 'Calderhead': 1,
 'Veal': 1,
 'Butler': 1,
 'Shaughnessy': 1,
 'Cann': 1,
 'Toufik': 1,
 'Bentham': 1,
 'Lithman': 1,
 'Kassem': 1,
 'Hanna': 1,
 'Pain': 1,
 'Naughton': 1,
 'Saether': 1,
 'Holthen': 1,
 'Maisner': 1,
 'Naidenoff': 1,
 'Jarvis': 1,
 'Young': 1,
 'Patchett': 1,
 'Krekorian': 1,
 'McGovern': 1,
 'Brandeis': 1,
 'Baimbrigge': 1,
 'Earnshaw': 1,
 'Lindahl': 1,
 'Saundercock': 1,
 'Lemberopolous': 1,
 'Omont': 1,
 'Brewe': 1,
 'Case': 1,
 'Perreault': 1,
 'Porter': 1,
 'Sutehall': 1,
 'Sivic': 1,
 'Abrahim': 1,
 'Pengelly': 1,
 'Silven': 1,
 'Willey': 1,
 'Kvillner': 1,
 'Denkoff': 1,
 'Salonen': 1,
 'Byles': 1,
 'Braf': 1,
 'Goldschmidt': 1,
 'Eklund': 1,
 'Wilhelms': 1,
 'Nieminen': 1,
 'Storey': 1,
 'Norman': 1,
 'Sedgwick': 1,
 'Torber': 1,
 'Bailey': 1,
 'Behr': 1,
 'Nenkoff': 1,
 'Abrahamsson': 1,
 'Dulles': 1,
 'Whabee': 1,
 'Petersen': 1,
 'Willard': 1,
 'Ball': 1,
 'McDermott': 1,
 'Slabenoff': 1,
 'Petranec': 1,
 'Baumann': 1,
 'Moen': 1,
 'Badt': 1,
 'Rugg': 1,
 'LeRoy': 1,
 'Nysveen': 1,
 'Crease': 1,
 'Todoroff': 1,
 'Turcin': 1,
 'Ekstrom': 1,
 'Fry': 1,
 "O'Dwyer": 1,
 'Moussa': 1,
 'Pasic': 1,
 'Ponesell': 1,
 'Waelens': 1,
 'Deacon': 1,
 'Wenzel': 1,
 'Weir': 1,
 'Maybery': 1,
 'Sharp': 1,
 'Madill': 1,
 'Stoytcheff': 1,
 'Bidois': 1,
 'Fillbrook': 1,
 "O'Leary": 1,
 'Hunt': 1,
 'Adams': 1,
 'Eustis': 1,
 'Bing': 1,
 'Mamee': 1,
 'Parrish': 1,
 'Klaber': 1,
 'Pettersson': 1,
 'Downton': 1,
 'Alexander': 1,
 'Bowerman': 1,
 'Beattie': 1,
 'de Brito': 1,
 'de Pelsmaeker': 1,
 'Novel': 1,
 'Hilliard': 1,
 'Lemore': 1,
 'Mellors': 1,
 'Midtsjo': 1,
 'Abbing': 1,
 'Vendel': 1,
 'Rothes': 1,
 'Sweet': 1,
 'Nancarrow': 1,
 'Corn': 1,
 'Minkoff': 1,
 'Birnbaum': 1,
 'Dibden': 1,
 'Mannion': 1,
 'Thorne': 1,
 'Linehan': 1,
 'Guggenheim': 1,
 'Duane': 1,
 'Larsson-Rondberg': 1,
 'Sinkkonen': 1,
 'Harmer': 1,
 'Fischer': 1,
 'Ling': 1,
 'Tomlin': 1,
 'Mitchell': 1,
 'Lesurer': 1,
 'Reynolds': 1,
 'Gaskell': 1,
 'Vestrom': 1,
 'Tornquist': 1,
 'Beauchamp': 1,
 'Kent': 1,
 'Blackwell': 1,
 'Charters': 1,
 'Salomon': 1,
 'Fahlstrom': 1,
 'Silverthorne': 1,
 'Windelov': 1,
 'Givard': 1,
 'Doyle': 1,
 'Wheeler': 1,
 'Drazenoic': 1,
 'Slayter': 1,
 'Geiger': 1,
 'Soholt': 1,
 'Lindstrom': 1,
 'Olsvigen': 1,
 'Dahlberg': 1,
 'Romaine': 1,
 'Meo': 1,
 'Simonius-Blumer': 1,
 'Delalic': 1,
 'Rommetvedt': 1,
 'Loring': 1,
 'Lundstrom': 1,
 'Rheims': 1,
 'Stead': 1,
 'Riordan': 1,
 'Troutt': 1,
 'Najib': 1,
 'Niklasson': 1,
 'Connaghton': 1,
 'Leyson': 1,
 'Uruchurtu': 1,
 'Ilieff': 1,
 'Gracie': 1,
 'Ismay': 1,
 'Jones': 1,
 'Vartanian': 1,
 'Spector': 1,
 'Kirkland': 1,
 'Dorking': 1,
 'Barah': 1,
 'Ross': 1,
 'Chibnall': 1,
 'Hee': 1,
 'Nicholls': 1,
 'Honkanen': 1,
 "O'Keefe": 1,
 'Murdlin': 1,
 'Hegarty': 1,
 'Gheorgheff': 1,
 'Icard': 1,
 'Osman': 1,
 'Rosenbaum': 1,
 'Johanson': 1,
 'Culumovic': 1,
 'Collander': 1,
 'Crafton': 1,
 'Jansson': 1,
 'Parkes': 1,
 'Hale': 1,
 'Daher': 1,
 'Widegren': 1,
 'Kalvik': 1,
 'Shelley': 1,
 'Peltomaki': 1,
 'Razi': 1,
 'Artagaveytia': 1,
 'van Melkebeke': 1,
 'McNeill': 1,
 'Hyman': 1,
 'Bystrom': 1,
 'Mionoff': 1,
 'Mangiavacchi': 1,
 'Markun': 1,
 'Farthing': 1,
 'Ward': 1,
 'Cairns': 1,
 'Lurette': 1,
 'Natsch': 1,
 'Mayne': 1,
 'Newsom': 1,
 'Somerton': 1,
 'Hiltunen': 1,
 'Bjornstrom-Steffansson': 1,
 'Mock': 1,
 'Lindblom': 1,
 'Karnes': 1,
 'Lamb': 1,
 'Walcroft': 1,
 'Spinner': 1,
 'de Mulder': 1,
 'Sap': 1,
 'Humblen': 1,
 'Banfield': 1,
 'McCormack': 1,
 'Holm': 1,
 'Perkin': 1,
 'Hassab': 1,
 'Jonkoff': 1,
 'Kennedy': 1,
 'Dintcheff': 1,
 'Collett': 1,
 'Ashby': 1,
 'Levy': 1,
 'Saade': 1,
 'Appleton': 1,
 'Hagardon': 1,
 'Asim': 1,
 'Tucker': 1,
 'Reynaldo': 1,
 'Masselmani': 1,
 'Staneff': 1,
 'Miles': 1,
 'Madsen': 1,
 'Sdycoff': 1,
 'Lindeberg-Lind': 1,
 'Sutton': 1,
 'Yrois': 1,
 'Balkic': 1,
 'Reed': 1,
 'Heininen': 1,
 'Matthews': 1,
 'Bissette': 1,
 'Bowenur': 1,
 'Bracken': 1,
 'Bateman': 1,
 'Montvila': 1,
 'Theobald': 1,
 'Edvardsson': 1,
 'Richard': 1,
 'Johannesen-Bratthammer': 1,
 'Nosworthy': 1,
 'Emir': 1,
 'Sawyer': 1,
 'Lundin': 1,
 'Markoff': 1,
 'Badman': 1,
 'Potter': 1,
 'Smiljanic': 1,
 'Lingane': 1,
 'Hendekovic': 1,
 'Vanden Steen': 1,
 'Gillespie': 1,
 'Zimmerman': 1,
 'Nye': 1,
 'Berglund': 1,
 'Roebling': 1,
 'Kraeff': 1,
 'Aronsson': 1,
 'Pinsky': 1,
 'Hampe': 1,
 'Bostandyeff': 1,
 'Vande Walle': 1,
 'Lehmann': 1,
 'Parr': 1,
 'Assam': 1,
 'Aubart': 1,
 'Brady': 1,
 'Elsbury': 1,
 'Augustsson': 1,
 'Plotcharsky': 1,
 'Kilgannon': 1,
 'Green': 1,
 'Farrell': 1,
 'Rowe': 1,
 'Maenpaa': 1,
 'Goncalves': 1,
 'Knight': 1,
 'Gavey': 1,
 'Mudd': 1,
 'Rintamaki': 1,
 'McEvoy': 1,
 'Morrow': 1,
 'Woolner': 1,
 'Katavelas': 1,
 'Butt': 1,
 'Longley': 1,
 'Nasr': 1,
 "O'Sullivan": 1,
 'Giglio': 1,
 'Pavlovic': 1,
 'McCaffry': 1,
 'Rekic': 1,
 'Swift': 1,
 'Isham': 1,
 'Reeves': 1,
 'Tikkanen': 1,
 'Lester': 1,
 'Mack': 1,
 'Bucknell': 1,
 'Colley': 1,
 'Lockyer': 1,
 'Nirva': 1,
 'Laitinen': 1,
 'Barry': 1,
 'Yousif': 1,
 'Trout': 1,
 'Stephenson': 1,
 'Corey': 1,
 'Meanwell': 1,
 'Maguire': 1,
 'Pearce': 1,
 'Lundahl': 1,
 'Eitemiller': 1,
 'Thomson': 1,
 'Mullens': 1,
 'Makinen': 1,
 'Leader': 1,
 'Maioni': 1,
 'Devaney': 1,
 'Coleridge': 1,
 'Pickard': 1,
 'Schabert': 1,
 'Ovies y Rodriguez': 1,
 'Henriksson': 1,
 'Johansson Palmquist': 1,
 'Keefe': 1,
 'Dimic': 1,
 'Millet': 1,
 'Sadlier': 1,
 'Hedman': 1,
 'Cameron': 1,
 'Nysten': 1,
 'Nourney': 1,
 'Doharr': 1,
 'Shine': 1,
 'Serepeca': 1,
 'Christmann': 1,
 'Keeping': 1,
 'Scanlan': 1,
 'Haas': 1,
 'Schmidt': 1,
 'Hood': 1,
 'Lindqvist': 1,
 'Connors': 1,
 'Cleaver': 1,
 'Odahl': 1,
 'Persson': 1,
 'Radeff': 1,
 'McKane': 1,
 'Rush': 1,
 'Daniels': 1,
 'Baccos': 1,
 'Emanuel': 1,
 'Vande Velde': 1,
 'Peduzzi': 1,
 'Cotterill': 1,
 'Lyntakoff': 1,
 'Leinonen': 1,
 'Sobey': 1,
 'Frost': 1,
 'Reuchlin': 1,
 'Tobin': 1,
 'Portaluppi': 1,
 'Salkjelsvik': 1,
 'Lovell': 1,
 'Lane': 1,
 'Leeni': 1,
 'Hosono': 1,
 'Niskanen': 1,
 'Dantcheff': 1,
 'Robbins': 1,
 'Karaic': 1,
 'Fynney': 1,
 'Pernot': 1,
 'Leonard': 1,
 'Botsford': 1,
 'Gill': 1,
 'Wilkes': 1,
 'Petterson': 1,
 'Hewlett': 1,
 'Turkula': 1,
 'Beavan': 1,
 'Kallio': 1,
 'Clifford': 1,
 'Barber': 1,
 'Pedersen': 1,
 'Chisholm': 1,
 'Colbert': 1,
 'Greenberg': 1,
 'Sjostedt': 1,
 'Payne': 1,
 'Molson': 1,
 'Milling': 1,
 'Sirota': 1,
 'Gilbert': 1,
 'Everett': 1,
 'McCrae': 1,
 'Jardin': 1,
 'Campbell': 1,
 'Allum': 1,
 'Andersen': 1,
 'Smart': 1,
 'Mulvihill': 1,
 'Ohman': 1,
 'Dahl': 1,
 'Parker': 1,
 'Gilinski': 1,
 'Nankoff': 1,
 'Moutal': 1,
 'Burke': 1,
 'Cassebeer': 1,
 'McCrie': 1,
 'Torfa': 1,
 'Albimona': 1,
 'Laleff': 1,
 'Mockler': 1,
 'Assaf Khalil': 1,
 'Matinoff': 1,
 'Rood': 1,
 'Stankovic': 1,
 'Otter': 1,
 'Osen': 1,
 'Enander': 1,
 'Smyth': 1,
 'Myhrman': 1,
 'Myles': 1,
 'Rouse': 1,
 'Slocovski': 1,
 'Turja': 1,
 'Ridsdale': 1,
 'Chaudanson': 1,
 'Landergren': 1,
 'Pekoniemi': 1,
 'Lang': 1,
 'Walker': 1,
 'Malachard': 1,
 'Hawksford': 1,
 'Dakic': 1,
 'Buss': 1,
 'Leitch': 1,
 'Paulner': 1,
 'Peruschitz': 1,
 'Chevre': 1,
 'Duquemin': 1,
 'Cherry': 1,
 'Wirz': 1,
 'Barton': 1,
 'Vovk': 1,
 'Head': 1,
 'Alhomaki': 1,
 'Harknett': 1,
 'Sheerlinck': 1,
 'Evans': 1,
 'Lahoud': 1,
 'Funk': 1,
 'Nicholson': 1,
 "O'Donoghue": 1,
 'Stranden': 1,
 'Robert': 1,
 'Sundman': 1,
 'Bjorklund': 1,
 'MacKay': 1,
 'Garfirth': 1,
 'Anderson': 1,
 'Nesson': 1,
 'Harrison': 1,
 'Wheadon': 1,
 'Peters': 1,
 'Chip': 1,
 'Meek': 1,
 'Francatelli': 1,
 'Strandberg': 1,
 'Harrington': 1,
 'Assaf': 1,
 'Shutes': 1,
 'Endres': 1,
 'Lievens': 1,
 'McMahon': 1,
 'Simmons': 1,
 'Lewy': 1,
 'Celotti': 1,
 'Heikkinen': 1,
 'Barkworth': 1,
 'Kreuchen': 1,
 'Oliva y Ocana': 1,
 'Coelho': 1,
 'Willer': 1,
 'Stahelin-Maeglin': 1,
 'Homer': 1,
 'Wilson': 1,
 'Danoff': 1,
 'Wiseman': 1,
 'Sjoblom': 1,
 'Sadowitz': 1,
 'Hassan': 1,
 'Foo': 1,
 'Youseff': 1,
 'Julian': 1,
 'Birkeland': 1,
 'Davis': 1,
 'Carbines': 1,
 'Bazzani': 1,
 'Lulic': 1,
 'Bengtsson': 1,
 'Shellard': 1,
 'Marechal': 1,
 'Sunderland': 1,
 'Jerwan': 1,
 'Slemen': 1,
 'Roth': 1,
 'Shorney': 1,
 'Toomey': 1,
 'Denbury': 1,
 'Gilnagh': 1,
 'Vander Cruyssen': 1,
 'Healy': 1,
 'Candee': 1,
 'Aldworth': 1,
 'Watson': 1,
 'Henry': 1,
 'Partner': 1,
 'Wittevrongel': 1,
 'Gee': 1,
 "O'Connell": 1,
 'Gronnestad': 1,
 'Blank': 1,
 'Demetri': 1,
 'Cunningham': 1,
 'Stokes': 1,
 'Ringhini': 1,
 'Glynn': 1,
 'Angheloff': 1,
 'McGough': 1,
 'Beesley': 1,
 'Drapkin': 1,
 'Williams-Lambert': 1,
 'Ilett': 1,
 'Ivanoff': 1,
 'Adahl': 1,
 'Mitkoff': 1,
 'Moss': 1,
 'Rosenshine': 1,
 'Long': 1,
 'Andreasson': 1,
 'Pallas y Castello': 1,
 'Dowdell': 1,
 'Mardirosian': 1,
 'Mernagh': 1,
 'Riihivouri': 1,
 'Sivola': 1,
 'Ibrahim Shawah': 1,
 'Borebank': 1}

In [106]:
all_data['FamilyGroup'] = all_data['Surname'].apply(lambda x:Surname_Count[x])
all_data['FamilyGroup']

0       2
1       2
2       1
3       2
4       2
       ..
1304    1
1305    1
1306    1
1307    4
1308    3
Name: FamilyGroup, Length: 1309, dtype: int64

In [114]:
Female_Child_Group=all_data.loc[(all_data['FamilyGroup']>=2) & ((all_data['Age']<=12) | (all_data['Sex']=='female'))]
Male_Adult_Group=all_data.loc[(all_data['FamilyGroup']>=2) & (all_data['Age']>12) & (all_data['Sex']=='male')]

In [115]:
Female_Child_Group.groupby('Surname')['Survived'].mean()

Surname
Abbott            1.0
Abelseth          NaN
Abelson           1.0
Aks               1.0
Allen             1.0
                 ...
Yasbeck           1.0
Zabour            0.0
de Messemaeker    1.0
del Carlo         NaN
van Billiard      NaN
Name: Survived, Length: 197, dtype: float64

In [116]:
Female_Child=pd.DataFrame(Female_Child_Group.groupby('Surname')['Survived'].mean().value_counts())
Female_Child.columns=['GroupCount']
Female_Child

          GroupCount
1.000000         115
0.000000          31
0.750000           2
0.333333           1
0.142857           1

In [117]:
Male_Adult=pd.DataFrame(Male_Adult_Group.groupby('Surname')['Survived'].mean().value_counts())
Male_Adult.columns=['GroupCount']
Male_Adult

          GroupCount
0.000000         122
1.000000          20
0.500000           6
0.333333           2
0.250000           1

In [118]:
Female_Child_Group=Female_Child_Group.groupby('Surname')['Survived'].mean()
Dead_List=set(Female_Child_Group[Female_Child_Group.apply(lambda x:x==0)].index)
print(Dead_List)

{'Lobb', 'Vander Planke', 'Van Impe', 'Boulos', 'Ford', 'Lefebre', 'Oreskovic', 'Jussila', 'Attalah', 'Turpin', 'Olsson', 'Palsson', 'Skoog', 'Sage', 'Caram', 'Johnston', 'Canavan', 'Rosblom', 'Barbara', 'Ilmakangas', 'Lahtinen', 'Cacic', 'Panula', 'Zabour', 'Arnold-Franchi', 'Danbom', 'Goodwin', 'Robins', 'Strom', 'Bourke', 'Rice'}

In [119]:
Male_Adult_List=Male_Adult_Group.groupby('Surname')['Survived'].mean()
Survived_List=set(Male_Adult_List[Male_Adult_List.apply(lambda x:x==1)].index)
print(Survived_List)

{'Dick', 'Duff Gordon', 'Goldenberg', 'Chambers', 'Bishop', 'Frolicher-Stehli', 'Jussila', 'Bradley', 'Jonsson', 'Frauenthal', 'Beane', 'McCoy', 'Kimball', 'Daly', 'Beckwith', 'Taylor', 'Cardeza', 'Harder', 'Nakid', 'Greenfield'}

In [120]:
train=all_data.loc[all_data['Survived'].notnull()]
test=all_data.loc[all_data['Survived'].isnull()]
test.loc[(test['Surname'].apply(lambda x:x in Dead_List)),'Sex'] = 'male'
test.loc[(test['Surname'].apply(lambda x:x in Dead_List)),'Age'] = 60
test.loc[(test['Surname'].apply(lambda x:x in Dead_List)),'Title'] = 'Mr'
test.loc[(test['Surname'].apply(lambda x:x in Survived_List)),'Sex'] = 'female'
test.loc[(test['Surname'].apply(lambda x:x in Survived_List)),'Age'] = 5
test.loc[(test['Surname'].apply(lambda x:x in Survived_List)),'Title'] = 'Miss'

In [121]:
all_data=pd.concat([train, test])
all_data=all_data[['Survived','Pclass','Sex','Age','Fare','Embarked','Title','FamilyLabel','Deck','TicketGroup']]

In [122]:
all_data[:10]

,Survived,Pclass,Sex,Age,Fare,Embarked,Title,FamilyLabel,Deck,TicketGroup
0,0.0,3,male,22.000000,7.2500,S,Mr,2,U,1
1,1.0,1,female,38.000000,71.2833,C,Mrs,2,C,2
2,1.0,3,female,26.000000,7.9250,S,Miss,1,U,1
3,1.0,1,female,35.000000,53.1000,S,Mrs,2,C,2
4,0.0,3,male,35.000000,8.0500,S,Mr,1,U,1
5,0.0,3,male,28.226256,8.4583,Q,Mr,1,U,1
6,0.0,1,male,54.000000,51.8625,S,Mr,1,E,2
7,0.0,3,male,2.000000,21.0750,S,Master,1,U,1
8,1.0,3,female,27.000000,11.1333,S,Mrs,2,U,2
9,1.0,2,female,14.000000,30.0708,C,Mrs,2,U,2

In [124]:
all_data=pd.get_dummies(all_data)

In [127]:
np.sort(all_data.columns)

array(['Age', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F',
       'Deck_G', 'Deck_T', 'Deck_U', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'FamilyLabel', 'Fare', 'Pclass', 'Sex_female',
       'Sex_male', 'Survived', 'TicketGroup', 'Title_Master',
       'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Officer',
       'Title_Royalty'], dtype=object)